.allign{position:relative;bottom:6em!important;}
.Manageallign{position:relative;bottom:0em!important;}
.Active{background-color: gainsboro;color: black!important;}
.stamp{float:right;clear:left;position:relative;bottom:12px;font-size:xx-small;}